/PrimaAplicatieJavaDownload.iml
/PrimaAplicatieJava.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/PrimaAplicatieJavaTortoiseGit.iml
/PrimaAplicatieJavaTortoiseGit - Shortcut.lnk
/.idea/workspace.xml
